.card-container {
  position: relative;
  background-color: #FFC03D;
}

.card-txt,
.card-ttl {
  color: #432344;
}

.card-icon-container {
  height: 50px;
  width: 50px;
  display: grid;
  place-items: center;
  position: absolute;
  right: 2rem;
  top: 1rem;
  background-color: #432344;
}