html {
  scroll-behavior: smooth;
}

.welcome-bg {
  background-image: url('../../images/background/welcome-background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.login-card {
  max-width: 40rem;
  min-width: 20rem;
}

.btn-warning {
  background-color: #FFC03D;
}

.text-color {
  color: #0000FF;
  cursor: pointer;
}

/* .navbar {
  padding: 0;
} */

.navbar-toggler:focus {
  box-shadow: none;
}

.nav-bg {
  background-color: #432344;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.btn-close:focus {
  box-shadow: none;
}

#logout-flash {
  width: 25%;
}

#sign-up {
  background-color: transparent;
  border: none;
}

/* .register-modal {
  --bs-modal-width: 75%;
} */

/* .register-content {
  background-color: #E7EEFB;
} */

.cursor {
  cursor: pointer;
}

.active {
  background-color: black;
  color: white;
}

.anchor {
  display: block;
  height: 115px; /*same height as header*/
  margin-top: -115px; /*same height as header*/
  visibility: hidden;
}

.display-img-label {
  font-size: 0.8rem;
}

.display-img {
  font-size: 0.6rem;
  padding: 0 0.2rem;
}

@media (max-width: 991px) {
  /* .ul-bg {
    background-color: #2d182e;
  } */

  .register-modal {
    --bs-modal-width: 100%;
  }

  #logout-flash {
    width: 70%;
  }
}